$textColor: #D4AF37;
$secundarytextColor: #000;
$background-infos: #D6A89F;

$background-light: #FCEABB;   // Gradiente - Cor inicial (dourado suave)
$background-main: #F8B500;    // Gradiente - Cor do meio (dourado intenso)
$background-accent: #E4C6D6;  // Gradiente - Cor final (rosa claro)
